@charset "utf-8";
*
{
	margin: 0;
	outline: 0;
	padding: 0;
}
body
{
	background: url(../images/body_bg.gif) repeat scroll 0% 0%;
	color: #ddd;
	font-family: Tahoma,Geneva,sans-serif;
	font-size: 13px;
}
.container
{
	margin: 0 auto;
	width: 980px;
}
a
{
	text-decoration: none;
}
img
{
	border: 0;
}
img.error
{
	height: 0;
	overflow: hidden;
	width: 25px;
}
option
{
	font-size: 12px;
	padding: 1px 3px;
}
#search .submit,#sign .login a,#sign .login-form .submit,#movie-hot .next,#movie-hot .prev,#movie-hot .listfilm .overlay,.tabs .tab.active,.icon,#chart .st,#page-info .like-icon,#page-watch .action,#page-watch .action div,.server .label i,#page-list .filter .item .btn,.list-film li .stats .liked,.list-film li .speaker,.listfilm li .speaker,.member-form .control-groups .btn,.member-form .control-groups .help i,#sign .logged .bookmark span,#sign .logged .logout,#sign .logged .bookmark span i
{
	background-image: url(../images/sprite.png?6);
}

.center_vertical
{
	position:relative; 
	top:50%; 
	transform:translate(0,50%);
}

.red
{
	color: red!important;
}
.blue
{
	color: #00f!important;
}
.green
{
	color: green!important;
}
.clear
{
	clear: both;
}
.hide
{
	display: none;
}
img.captcha-image
{
	cursor: pointer;
}
.icon
{
	display: inline-block;
	height: 16px;
	width: 16px;
}
.icon.list
{
	background-position: -36px -393px;
}
.icon.top
{
	background-position: -18px -393px;
}
.icon.movie1
{
	background-position: 0 -393px;
}
.icon.tag
{
	background-position: -54px -393px;
}
.icon.light
{
	background-position: -90px -393px;
}
.icon.light2
{
	background-position: -104px -393px;
}
.icon.like
{
	background-position: -120px -393px;
}
.icon.add
{
	background-position: -137px -393px;
}
.icon.comment
{
	background-position: -155px -393px;
}

.header-logo{
	display: inline-block;
	float: left;
}

.header-logo .logo{
	background: url(../images/image.png) 0px -320px;
	width: 260px;
	height: 55px;
	display: block;
}
	
.header-logo span{
	display: none;
}

#list-movie-update{
	height:300px;
}

#header
{
	background: url(../images/header-bg.jpg) repeat-x scroll 0% 0%;
	color: #fff;
	font-family: Tahoma,Geneva,sans-serif;
	height: 55px;
}
#header a
{
	color: #fff;
}
#logo
{
	float: left;
	height: 63px;
	width: 190px;
}
#logo a
{
	color: #fff;
	display: block;
	font-size: 7px;
	height: 63px;
	letter-spacing: 2px;
	line-height: 36px;
	padding-left: 197px;
	width: 70px;
}
#search
{
	float: left;
	margin-left: 5px;
	position: relative;
	z-index: 20;
	margin-top: 10px
}
#search ul.autocomplete-list
{
	background: #1f1f1f;
	border-radius: 6px;
	left: 3px;
	list-style: none;
	padding: 5px 0 10px;
	position: absolute;
	top: 42px;
	webkit-border-radius: 6px;
	width: 350px;
	width: 352px;
	z-index: 15;
}
#search ul.autocomplete-list li
{
	border-bottom: 1px dashed #333;
	display: block;
	height: 35px;
	line-height: 35px;
	margin: 0 8px;
	padding: 0 5px;
}
#search ul.autocomplete-list li.hover
{
	background: #151515;
}
#search ul.autocomplete-list li span
{
	color: #555;
}
#search ul.autocomplete-list li a
{
	color: #c2c2c2;
	display: block;
}
#search ul.autocomplete-list li a:hover
{
	color: #eee;
}
#search .keyword
{
	background: #2D2D2D;
	border: 1px solid #000;
	border-radius: 4px;
	box-shadow: 0 1px 0 0 #242424;
	color: #8c8c8c;
	float: left;
	font-size: 12px;
	height: 38px;
	line-height: 38px;
	margin-bottom: 5px;
	margin-left: 2px;
	moz-border-radius: 4px;
	padding: 0 12px;
	webkit-border-radius: 4px;
	width: 250px;
}
#search .submit
{
	background-color: #000;
	background-position: 0 0;
	border: 0;
	cursor: pointer;
	float: left;
	height: 40px;
	margin-left: 8px;
	width: 56px;
}
#search .submit:hover
{
	background-position: -56px 0;
}
#sign
{
	float: left;
	font-size: 11px;
	margin-top: 15px;
}
#sign>div
{
	float: left;
}
#sign .login
{
	float: left;
	margin-left: 10px;
	margin-left: 45px;
	position: relative;
	z-index: 10;
}
	
#sign .login a
{
	background-position: 0 -41px;
	background-repeat: no-repeat;
	cursor: pointer;
	display: inline-block;
	font-weight: 700;
	height: 39px;
	line-height: 30px;
	text-align: center;
	width: 97px;
}
#sign .login a:hover
{
	background-position: 0 -81px;
}
#sign .login.show a
{
	background: #343434;
	border-radius: 6px 6px 0 0;
	color: #fff;
	moz-border-radius: 6px 6px 0 0;
	webkit-border-radius: 6px 6px 0 0;
}
#sign .login .login-form
{
	background: #343434;
	border-radius: 0 6px 6px;
	height: 154px;
	moz-border-radius: 0 6px 6px;
	webkit-border-radius: 0 6px 6px;
	width: 280px;
	z-index: 10;
}
#sign .login-form
{
	color: #c8c8c8;
	display: none;
	font-size: 11px;
	left: 0;
	overflow: hidden;
	position: absolute;
	top: 30px;
	z-index: 9;
}
#sign .login-form .input
{
	background: #1F1F1F;
	border: 1px solid #000;
	border-radius: 3px;
	box-shadow: 0 1px 0 0 #434343;
	color: #626262;
	font-weight: 700;
	height: 31px;
	line-height: 31px;
	margin: 15px 15px 0;
	moz-border-radius: 3px;
	padding: 0 10px;
	webkit-border-radius: 3px;
	width: 226px;
}
#sign .password
{
	margin-top: 10px!important;
}
#sign .login-form .remember
{
	float: left;
	font-weight: 700;
	margin-left: 15px;
	margin-top: 23px;
}
#sign .login-form .remember input
{
	display: inline-block;
	float: left;
	margin-right: 0;
	margin-right: 5px;
	margin-top: -4px;
}
#sign .login-form .submit
{
	background-color: #3A3A3A;
	background-position: -73px -265px;
	border: medium none;
	border-radius: 3px;
	color: #FFF;
	cursor: pointer;
	float: right;
	font-weight: 700;
	height: 34px;
	margin-right: 15px;
	margin-top: 15px;
	width: 102px;
}
#sign .links
{
	display: block;
	float: left;
	line-height: 31px;
	margin-left: 31px;
}
#sign .links a:hover
{
	color: #ccc;
}

#sign .logged
{
	margin-left: 20px;
	margin-right: 0;
}
#sign .logged div
{
	float: left;
}
#sign .logged .info
{
	color: #eee;
	width: auto;
	margin-top: 5px;
}
#sign .logged .info .username
{
	color: #fff;
	display: inline-block;
	font-weight: 700;
	padding-bottom: 3px;
}
#sign .logged .info .username:hover
{
	border-bottom: 1px dashed #9BADBB;
}
#sign .logged .bookmark
{
	margin-right: 0;
	margin-right: 4px;
	position: relative;
	width: auto;
	z-index: 10;
}
#sign .logged .bookmark span
{
	background-color: #000;
	background-position: 0 -574px;
	background-repeat: no-repeat;
	border-radius: 3px;
	color: #fff;
	cursor: pointer;
	display: inline-block;
	font-weight: 700;
	height: 30px;
	line-height: 28px;
	moz-border-radius: 3px;
	padding-left: 10px;
	text-align: center;
	webkit-border-radius: 3px;
	width: auto;
}
#sign .logged .bookmark span i
{
	background-position: -176px -394px;
	display: block;
	float: left;
	height: 14px;
	margin-top: 8px;
	width: 14px;
}
#sign .logged .bookmark span:hover
{
	color: #aaa;
}
#sign .bookmark.show span
{
	border-radius: 3px 3px 0 0;
	moz-border-radius: 3px 0 0;
	webkit-border-radius: 3px 0 0;
}
#sign .bookmark ul
{
	display: none;
}
#sign .bookmark ul
{
	background: #414141;
	border: 1px solid #000;
	border-radius: 2px 0 2px 2px;
	border-top: 0;
	font-size: 11px;
	moz-border-radius: 2px 0 2px 2px;
	padding-bottom: 10px;
	position: absolute;
	right: -1px;
	right: 3px;
	text-align: left;
	top: 28px;
	webkit-border-radius: 2px 0 2px 2px;
	width: 260px;
	z-index: 9;
}
#sign .bookmark ul li
{
	border-bottom: 1px solid #2A2A2A;
	border-top: 1px solid #4D4D4D;
	color: #fff;
	font-family: Arial,Helvetica,sans-serif;
	font-size: 11px;
	font-weight: 700;
	height: 34px;
	line-height: 34px;
	list-style: decimal inside none;
	overflow: hidden;
	padding: 0 13px;
}
#sign .bookmark ul li:first-child
{
	border-top: 0;
}
#sign .bookmark ul li.no-results
{
	list-style: none;
	text-align: center;
}
#sign .bookmark ul li a
{
	color: #fff;
}
#sign .bookmark ul li a:hover
{
	color: #ccc;
}
#sign .bookmark ul li strike
{
	background: #262626;
	border-radius: 3px;
	color: #BBB;
	cursor: pointer;
	float: right;
	font-weight: 400;
	height: 16px;
	line-height: 14px;
	margin-top: 10px;
	moz-border-radius: 3px;
	text-align: center;
	text-decoration: none;
	webkit-border-radius: 3px;
	width: 16px;
}
#sign .bookmark ul li strike:hover
{
	background: #303030;
	color: #ccc;
}
#sign .logged .logout
{
	background-color: #000;
	background-position: -107px -574px;
	background-repeat: no-repeat;
	border-radius: 3px;
	color: #FFF;
	font-weight: 700;
	height: 30px;
	line-height: 28px;
	margin-right: 0;
	moz-border-radius: 3px;
	text-align: center;
	webkit-border-radius: 3px;
	width: auto;
}
#sign .logged .logout a
{
	display: block;
}
#sign .logged .logout a:hover
{
	color: #ccc;
}
#nav
{
	background: url(../images/nav-bg.jpg) repeat-x scroll 0% 0%;
	font-family: Arial,Helvetica,sans-serif;
	height: 46px;
}

#body-wrap
{
	font-family: Tahoma,Geneva,sans-serif;
	overflow: hidden;
	padding-bottom: 10px;
}
#content
{
	float: left;
	width: 670px;
}
#sidebar
{
	float: right;
	overflow: hidden;
	width: 300px;
}
#home-textlink,#home-textlink a
{
	color: #666;
	font-size: 12px;
	font-weight: 400;
	line-height: 1.5em;
}
#home-textlink a
{
	color: #ddd;
}
#footer
{
	background: transparent url("../images/micro_carbon.png") repeat scroll 0% 0%;
	min-height: 100px;
	padding: 20px 25px 15px;
	border-top: 3px solid #DACB46;
	border-bottom: 1px solid #111;
	margin-top: 20px;
}
#footer .container
{
	clear: both;
	overflow: hidden;
	width: 980px;
}
#footer .desc
{
	float: left;
	padding-top: 30px;
	width: 650px;
}
#footer .desc a
{
	color: #b9b9b9;
}
#info
{
	background: #000 url(../images/bgfooter2.png) repeat-x;
	border-color: #000;
	border-style: solid;
	border-width: 0 1px 1px;
	float: right;
	font-size: 12px;
	height: 100px;
	line-height: 25px;
	margin-top: 1px;
	padding: 20px;
	position: none;
	position: relative;
	width: 260px;
}
#info a
{
	color: #b6b6b6;
	font-weight: 700;
}
#info a:hover
{
	text-decoration: underline;
}
#info .sitemap
{
	float: right;
}
#info i
{
	display: inline-block;
	height: 12px;
	margin-right: 5px;
	width: 12px;
}
#info .link
{
	background-image: url(../images/sprite.png);
	background-position: -16px -416px;
}
#info .email
{
	background-image: url(../images/sprite.png);
	background-position: 0 -413px;
}
#info .curly
{
	background-image: url(../images/sprite.png);
	background-position: 0 -437px;
	bottom: 0;
	display: block;
	height: 14px;
	margin-right: 0;
	position: absolute;
	right: 0;
	width: 14px;
}
#footer .textlink
{
	font-size: 11px;
	margin-top: 30px;
}
.textlink a
{
	color: #666;
	font-size: 12px;
	margin-left: 3px;
}
#movie-hot
{
	font-family: Tahoma,Geneva,sans-serif;
	height: 250px;
	overflow: hidden;
	position: relative;
}
#movie-hot .next,#movie-hot .prev
{
	cursor: pointer;
	height: 43px;
	opacity: .65;
	position: absolute;
	top: 105px;
	width: 34px;
	z-index: 5;
}
#movie-hot .prev:hover,#movie-hot .next:hover
{
	opacity: 1;
}
#movie-hot .prev
{
	background-position: 0 -265px;
	left: 12px;
}
#movie-hot .next
{
	background-position: -36px -265px;
	right: 12px;
}
#movie-hot .listfilm
{
}
#movie-hot .listfilm li
{
	border-color: #000;
	border-style: solid;
	border-width: 2px 1px 1px;
	float: left;
	height: 250px;
	list-style: none;
	position: relative;
	text-align: center;
}
#movie-hot .listfilm img
{
	background: #fff url(../images/loading1.gif) no-repeat center center;
	color: #BBB;
	display: block;
	height: 250px;
	line-height: 183px;
	width: 164px;
	width: 165px;
}
#movie-hot .listfilm .overlay
{
	background-position: 0 -207px;
	bottom: 0;
	height: 45px;
	left: 0;
	position: absolute;
	width: 100%;
	width: 164px;
	z-index: 2;
}
#movie-hot .listfilm .status
{
	background: #01568D;
	background: #484848;
	color: #fff;
	font-size: 11px;
	font-weight: 400;
	font-weight: 700;
	left: 0;
	padding: 4px 5px;
	position: absolute;
	top: 184px;
}
#movie-hot .listfilm .name
{
	font-size: 11px;
	font-weight: 700;
	height: 17px;
	line-height: 1.3em;
	margin-top: 5px;
	overflow: hidden;
}
#movie-hot .listfilm .name2
{
	color: #888;
	font-size: 11px;
	line-height: 1.3em;
}
#movie-hot .listfilm .name a
{
	color: #fff;
}
#movie-hot .listfilm .name a:hover
{
	color: #ddd;
}
.block
{
	background-color: #161515;
	margin-bottom: 10px;
	overflow: hidden;
}
.block .blocktitle
{
	overflow: hidden;
}
.block .blocktitle
{
	background-color: #2E2E2E;
	background-position: 0 -355px;
	background-repeat: no-repeat;
	height: 34px;
	line-height: 34px;
}
.block .blocktitle .title,.block .blocktitle .title a
{
	color: #fff;
	display: inline-block;
	font-family: Arial,Helvetica,sans-serif;
	font-size: 13px;
	font-weight: 700;
	padding: 0 6px;
	text-decoration: none;
	text-transform: uppercase;
}
.tabs
{
	height: 34px;
}
.tabs .tab
{
	background: #2E2E2E;
	color: #ccc;
	cursor: pointer;
	float: left;
	font-weight: 700;
	height: 34px;
	line-height: 34px;
	text-align: center;
}
.tabs .tab:hover
{
	color: #fff;
}
.tabs .tab.active
{
	background-color: #000;
	background-position: 0 -313px;
	color: #0094fc;
	font-weight: 700;
}
#chart
{
	margin-top: 5px;
}
#chart .tabs .tab
{
	border-right: 1px solid #232323;
	width: 93px;
}
#chart .blockbody
{
	background: #232323;
}
#chart ul
{
	padding: 10px;
}
#chart li
{
	border-bottom: 1px solid #373737;
	font-family: Arial,Helvetica,sans-serif;
	height: 40px;
	list-style: none;
	overflow: hidden;
}
#chart li:last-child
{
	border-bottom: 0;
}
#chart .st
{
	background-color: transparent;
	background-position: -154px -41px;
	color: #58baff;
	float: left;
	font-family: Arial,Helvetica,sans-serif;
	font-size: 13px;
	font-weight: 700;
	height: 26px;
	line-height: 26px;
	margin: 8px 0 0 10px;
	text-align: center;
	width: 26px;
}
#chart .st.top
{
}
#chart li .detail
{
	margin-left: 52px;
	margin-top: 4px;
}
#chart li .detail .name a
{
	color: #fff;
	font-size: 12px;
	font-weight: 700;
	line-height: 1.5em;
}
#chart li .detail .name a:hover
{
	color: #888;
}
#chart li .detail .views
{
	color: #666;
	font-size: 11px;
}
.blocktitle .icon,#movie-update .blocktitle .title
{
	float: left;
}
.blocktitle
{
	padding-left: 16px;
}
.blocktitle .icon
{
	margin-right: 3px;
	margin-top: 10px;
}
#movie-update
{
	font-size: 11px;
}
#movie-update .types
{
	float: left;
	margin-left: 25px;
	overflow: hidden;
}
#movie-update .types .type
{
	float: left;
	margin-right: 6px;
}
#movie-update .btn
{
	background: #2E2E2E;
	border-radius: 50px;
	color: #fff;
	cursor: pointer;
	font-family: Arial,Helvetica,sans-serif;
	font-size: 12px;
	font-weight: 700;
	moz-border-radius: 50px;
	padding: 5px 18px;
	webkit-border-radius: 50px;
}
#movie-update .types .type .btn.active
{
	background: #01568D;
}
#movie-recommend
{
	margin-top: 10px;
	overflow: hidden;
	padding: 3px 5px;
}
#movie-recommend .col1
{
	float: left;
	width: 350px;
}
#movie-recommend .col2
{
	float: left;
	margin-left: 10px;
	width: 300px;
}
#movie-recommend .tabs .tab
{
	width: 50%;
}
#movie-recommend .col2 .blocktitle
{
	background: 0;
	padding-left: 0;
}
#movie-recommend .col2 .blockbody
{
	background: #232323;
	padding: 5px 10px 10px;
}
#movie-recommend ul.list
{
}
#movie-recommend ul.list li
{
	border-bottom: 1px dashed #464646;
	font-size: 11px;
	height: 24px;
	line-height: 24px;
	list-style: none;
	overflow: hidden;
}
#movie-recommend ul.list li a
{
	color: #ddd;
	display: inline-block;
	float: left;
}
#movie-recommend ul.list li a:hover
{
	color: #999;
}
#movie-recommend ul.list li span
{
	color: #717171;
	float: right;
	margin-right: 5px;
}
.breadcrumbs
{
	clear: both;
	display: block;
	height: 34px;
	padding-left: 10px;
}
.breadcrumbs .item
{
	background: url(../images/breadcrumb_separator.png) no-repeat right center;
	color: #fff;
	float: left;
	font-family: Arial,Helvetica,sans-serif;
	font-size: 14px;
	font-weight: 400;
	height: 34px;
	line-height: 34px;
	padding: 0 20px 0 10px;
	text-transform: uppercase;
}
.breadcrumbs .item:last-child,.breadcrumbs .item.last-child
{
	background-image: none;
}
.breadcrumbs .item a
{
	color: #fff;
	display: block;
}
.breadcrumbs .item a:hover
{
	color: #ccc;
}
#page-list .filter
{
	background: #232323;
	border-top: 1px solid #363636;
	clear: both;
	font-size: 11px;
	overflow: hidden;
}
#page-list .filter .item
{
	color: #959595;
	float: left;
	font-weight: 700;
	height: 38px;
	line-height: 38px;
	margin-left: 2px;
	margin-left: 6px;
	margin-top: 6px;
}
#page-list .filter .item select
{
	background: #161616;
	border: 1px solid #393939;
	border-radius: 3px;
	color: #949494;
	height: 23px;
	moz-border-radius: 3px;
	padding: 3px;
	webkit-border-radius: 3px;
}
#page-list .filter .item select option
{
	font-size: 11px;
	line-height: 26px;
}
#page-list .filter .item .btn
{
	background-color: #3A3A3A;
	background-position: 0 -504px;
	border: medium none;
	color: #FFF;
	cursor: pointer;
	font-weight: 700;
	height: 25px;
	margin-top: 2px;
	padding: 0;
	padding: 4px;
	width: 74px;
}
#page-list .textlink a
{
	color: #0094fc;
	font-size: 12px;
}
#page-list .page_nav
{
	margin-bottom: 10px;
}
.no-results
{
	font-weight: 700;
	padding: 10px 20px;
	text-align: center;
}
#page-info
{
}
#page-info .blockbody
{
	background: #181818;
	font-family: Arial,Helvetica,sans-serif;
	overflow: hidden;
	padding: 0;
}
#page-info .info
{
	display: block;
	min-height: 360px;
	position: relative;
	width: 100%;
}
#page-info .info .poster
{
	left: 10px;
	position: absolute;
	top: 10px;
	width: 145px;
}
#page-info .info .poster img
{
	background: #D4D4D4;
	height: 255px;
	padding: 3px;
	width: 180px;
}
#page-info .info a
{
	color: #eee;
}
#page-info .info .fr
{
	margin-left: 168px;
}
#page-info .info .status
{
	color: red;
}
#page-info .info .title
{
	color: #0295F6;
	font-size: 16px;
	font-weight: 700;
	padding: 8px;
	text-transform: uppercase;
}
#page-info .info .name2
{
	color: #666;
	padding: 0 8px 8px;
}
#page-info .info .name2 h3
{
	display: inline;
	font-size: 12px;
	font-weight: 400;
	margin-right: 5px;
}
#page-info .info .dinfo
{
	background: #232323 url(../images/bginfodl.png) repeat-y;
	color: #B9B9B9;
	display: block;
	overflow: hidden;
	width: 100%;
}
#page-info .info dl
{
	line-height: 18px;
	overflow: hidden;
	padding: 6px 8px;
}
#page-info .info .col1
{
	float: left;
	margin-left: 80px;
	width: 300px;
}
#page-info .info .col2
{
	float: right;
	padding-left: 15px;
	width: 470px;
}
#page-info .info dt
{
	clear: left;
	float: left;
	margin-right: 10px;
}
#page-info .info dd
{
	font-weight: 700;
}
#page-info .btn-groups
{
	margin-bottom: 20px;
	margin-top: 10px;
}
#page-info .btn-watch
{
	background: #4F4F4F url(../images/btn_watch.png) no-repeat;
	display: block;
	height: 43px;
	width: 152px;
}
#page-info .like-wrap
{
	float: right;
	text-align: center;
	width: 185px;
}
#page-info .like-stats
{
	background-color: #2E2E2E;
	background-repeat: no-repeat;
	border-radius: 100px;
	color: #eee;
	display: inline-block;
	height: 26px;
	line-height: 26px;
	margin: 5px 0 0 18px;
	moz-border-radius: 100px;
	padding: 0 15px;
	webkit-border-radius: 100px;
	width: 150px;
}
#page-info .like-icon
{
	background-position: -72px -392px;
	display: inline-block;
	float: left;
	height: 20px;
	margin-right: 3px;
	margin-top: 3px;
	width: 20px;
}
#page-info .detail
{
	background: #181818;
	padding: 10px;
}
#page-info .detail .blocktitle
{
	background: 0;
	height: 34px;
	padding-left: 0;
}
#page-info .detail .tabs .tab
{
	padding-left: 15px;
	padding-right: 15px;
}
#page-info .tabs-content
{
	background: #232323;
	color: #bebebe;
	line-height: 18px;
	padding: 10px;
}
#page-info .tabs-content ol,#page-info .tabs-content ul
{
	margin-left: 28px;
}
#page-info .tabs-content p
{
	margin-bottom: 6px;
}
#page-info .tabs-content a
{
	color: #dfdfdf;
}
#page-info .tabs-content a:hover
{
	text-decoration: underline;
}
#page-info .tabs-content img
{
	border: 1px solid #666;
	display: block;
	margin: 0 auto;
	max-width: 98%;
}
#page-info .tags
{
	background: #232323;
	font-family: Arial,Helvetica,sans-serif;
	font-size: 11px;
	padding: 10px 10px 20px;
}
#page-info .tags .label
{
	display: inline-block;
	font-weight: 700;
	margin-right: 6px;
	text-transform: uppercase;
}
#page-info .tags .items
{
	display: inline-block;
	font-weight: 400;
	text-transform: none;
}
#page-info .tags a
{
	color: #0094fc;
}
#page-info .trailer
{
	height: 380px;
	width: 635px;
}
#mediaplayer
{
}
#page-watch
{
	position: relative;
}
#movie
{
	width: 100%;
}
#detail
{
}
#page-watch .block
{
	background: #181818;
	margin-bottom: 0;
}
#page-watch .blockbody
{
	overflow: hidden;
	padding: 10px;
}
#page-watch .download
{
	display: block;
	padding: 10px 20px;
	text-align: center;
}
#page-watch .download a
{
	color: #1779B6;
	font-size: 22px;
	font-weight: 700;
}
#page-watch #media
{
	display: block;
	height: 400px;
	width: 670px;
}
#page-watch .action
{
	background-color: #373737;
	background-position: 0 -465px;
	clear: both;
	height: 35px;
	line-height: 35px;
	width: 100%;
}
#page-watch .action div
{
	background-color: #292929;
	background-position: -27px -431px;
	border: 0;
	border-radius: 50px;
	box-shadow: 0 1px 0 0 #454545;
	cursor: pointer;
	display: block;
	display: inline-block;
	float: left;
	font-size: 11px;
	height: 20px;
	height: 22px;
	line-height: 21px;
	margin: 0 5px;
	moz-border-radius: 50px;
	padding: 0;
	webkit-border-radius: 50px;
}
#page-watch .action div .wrap:hover
{
	color: #aaa;
}
#page-watch .action div.disabled
{
	background: #1d1d1d;
	color: #666;
	cursor: inherit;
}
#page-watch .action div.disabled span:hover
{
	color: #666;
}
#page-watch .action div .wrap
{
	border: 0;
	border-radius: 50px;
	box-shadow: 0 1px 0 0 #222 inset;
	display: block;
	margin: 0;
	moz-border-radius: 50px;
	padding: 0 10px;
	webkit-border-radius: 50px;
}
#page-watch .action .add-bookmark
{
	border-radius: 3px!important;
	float: left;
	margin-top: 7px;
	moz-border-radius: 3px;
	webkit-border-radius: 3px;
}
#page-watch .action .add-bookmark .wrap
{
	border-radius: 3px!important;
	font-weight: 700;
	moz-border-radius: 3px;
	padding: 0 6px 0 10px;
	webkit-border-radius: 3px;
}
#page-watch .action .icon
{
	float: left;
	margin-left: -2px;
	margin-right: 4px;
	margin-top: 2px;
}
#page-watch .action .toggle-light.off
{
	box-shadow: 0 1px 0 0 #333;
}
#page-watch #detail .blockbody
{
	padding: 0;
}
#page-watch .note
{
	background: #232323;
	border-radius: 6px;
	margin: 15px 10px;
	moz-border-radius: 6px;
	padding: 15px;
	webkit-border-radius: 6px;
}
#page-watch .note li
{
	font-size: 11px;
	line-height: 16px;
	list-style: circle inside;
	margin-left: 5px;
}
#page-watch .note a
{
	color: #0094fc;
}
#page-watch .note a:hover
{
	text-decoration: underline;
}
.serverlist
{
	background: #232323;
	border-radius: 6px;
	clear: both;
	display: block;
	margin: 0 10px 10px;
	moz-border-radius: 6px;
	padding: 0 10px;
	webkit-border-radius: 6px;
}
.serverlist .server
{
	border-bottom: 1px solid #000;
	border-top: 1px solid #272727;
	clear: both;
	display: block;
	float: left;
	line-height: 25px;
	overflow: hidden;
	padding: 0;
	padding-bottom: 6px;
	padding-top: 5px;
}
.serverlist .server:last-child
{
	border-bottom: 0;
}
.server .label
{
	color: #fff;
	float: left;
	font-size: 11px;
	font-weight: 700;
	padding-left: 5px;
	width: 145px;
}
.server .label i
{
	background-position: -183px -58px;
	background-repeat: no-repeat;
	display: block;
	float: left;
	height: 20px;
	margin-right: 10px;
	margin-top: 5px;
	width: 10px;
}
.serverlist .server .label img
{
	float: right;
	height: 11px;
	margin-top: 8px;
	width: 14px;
}
.server .episodelist
{
	background: #232323;
	margin-left: 168px;
	overflow: hidden;
}
.episodelist li
{
	display: inline-block;
	float: left;
	list-style: none;
	margin-bottom: 3px;
}
.episodelist li a
{
	background: #292929;
	border-radius: 2px;
	color: #878787;
	display: block;
	display: inline-block;
	float: left;
	font-size: 11px;
	font-weight: 700;
	line-height: 18px;
	margin: 0 2px 3px;
	moz-border-radius: 2px;
	padding: 2px 11px;
	webkit-border-radius: 2px;
}
.episodelist li a:hover
{
	background: #2f3031;
	color: #f9f9f9;
}
.episodelist li a.active
{
	background: #00558C;
	color: #fff;
}
#comment
{
	background: #181818;
	clear: both;
	margin-top: -10px;
	padding: 10px;
}
#comment .blocktitle
{
	background: 0;
	padding-left: 0;
}
#comment .blocktitle .icon
{
	margin-right: 10px;
}
#comment .blocktitle .title
{
	color: #fff;
	float: left;
	font-weight: 400;
	line-height: 38px;
	margin-left: 6px;
}
#comment .tabs
{
	float: left;
	margin-left: 14px;
	margin-top: 7px;
}
#comment .tabs .tab
{
	background: #2E2E2E;
	border-radius: 50px;
	color: #fff;
	cursor: pointer;
	font-family: Arial,Helvetica,sans-serif;
	font-size: 12px;
	font-weight: 700;
	height: 23px;
	line-height: 23px;
	margin: 0 3px;
	moz-border-radius: 50px;
	padding: 0 18px;
	webkit-border-radius: 50px;
}
#comment .tabs .tab.active
{
	background: #01568D;
}
#comment .tabs-content
{
	padding: 6px 0;
}
#comment .comment-form
{
	background: #232323;
	border-bottom: 1px solid #000;
	border-top: 1px solid #000;
	padding: 10px;
}
.comment-form .avatar
{
	background: url(../images/noavatar.png) no-repeat;
	float: left;
	height: 50px;
	width: 50px;
}
.comment-form form
{
	margin-left: 60px;
	overflow: hidden;
}
.comment-form .message
{
	background: #000;
	border: 1px solid #000;
	border-radius: 2px;
	box-sizing: border-box;
	color: #eee;
	font-family: Tahoma,Geneva,sans-serif;
	font-size: 11px;
	height: 30px;
	margin-bottom: 5px;
	moz-border-radius: 2px;
	moz-box-sizing: border-box;
	padding: 3px 5px 10px;
	resize: vertical;
	webkit-border-radius: 2px;
	webkit-box-sizing: border-box;
	width: 100%;
	width: 90%;
}
.comment-form .warn
{
	color: #888;
	font-size: 11px;
}
.comment-form .submit
{
	background: none repeat scroll 0 0 #5874A6;
	border: 1px solid #355495;
	color: #FFF;
	cursor: pointer;
	float: right;
	font-size: 11px;
	font-weight: 700;
	height: 22px;
	line-height: 17px;
	padding: 0 6px;
}
.comment-form .submit.disabled,.comment-form .submit[disabled]
{
	background: #5D6E87;
}
#comment .comment-list
{
}
.comment-list .comment
{
	border-bottom: 1px solid #000;
	border-top: 1px solid #2B2B2B;
	font-size: 11px;
	overflow: hidden;
	padding: 8px 10px;
}
.comment-list .comment .avatar
{
	float: left;
	height: 50px;
	width: 50px;
}
.comment-list .comment .avatar img
{
	height: 50px;
	widows: 50px;
}
.comment-list .comment .detail
{
	margin-left: 60px;
}
.comment-list .comment .username
{
	color: #3b5998;
	cursor: pointer;
	font-weight: 700;
	margin-bottom: 3px;
}
.comment-list .comment .username.admin
{
	color: red;
}
.comment-list .comment .username.mod
{
	color: #900;
}
.comment-list .comment .username.vip
{
	color: #0C6;
}
.comment-list .comment .username .account
{
	color: #bbb;
	font-weight: 400;
}
.comment-list .comment .message
{
	line-height: 1.3em;
	margin-bottom: 3px;
}
.comment-list .comment .meta
{
	color: #888;
}
.comment-list .comment .delete
{
	background: #222;
	color: #FFF;
	cursor: pointer;
	display: none;
	float: right;
	height: 11px;
	line-height: 9px;
	padding: 2px 4px;
}
.comment-list .comment:hover .delete
{
	display: block;
}
#page-error .blockbody
{
	background: #181818;
	font-size: 12px;
	padding: 10px 20px;
}
#page-register
{
}
.member-form .blockbody
{
	background: #181818;
	color: #afafaf;
	padding: 30px 25px;
}
.member-form .control-groups
{
	overflow: hidden;
	padding: 8px 0;
}
.member-form .control-groups label
{
	float: left;
	font-size: 11px;
	font-weight: 700;
	line-height: 30px;
	padding-left: 5px;
	width: 120px;
}
.member-form .control-groups .control
{
	margin-left: 160px;
}
.member-form .control-groups .control .option
{
	margin-right: 30px;
}
.member-form .control-groups .input
{
	background: #272727;
	border: 1px solid #000;
	border-radius: 3px;
	box-shadow: 0 1px 0 0 #272727;
	color: #8C8C8C;
	height: 30px;
	line-height: 30px;
	margin-right: 5px;
	moz-border-radius: 3px;
	padding: 0 5px;
	webkit-border-radius: 3px;
	width: 250px;
}
.member-form .control-groups .input.disabled
{
	background: #1E1E1E;
	box-shadow: 0 1px 0 0 #1E1E1E;
	color: #5b5b5b;
	cursor: no-drop;
}
.member-form .control-groups .input:focus
{
	background-position: 0 -281px;
}
.member-form .control-groups .input.span2
{
	width: 72px;
}
.member-form .control-groups .help
{
	background: #0E0E0E;
	border-bottom: 1px solid #2A2A2A;
	color: #5b5b5b;
	font-size: 10px;
	margin-left: 7px;
	padding: 5px 8px 3px 0;
}
.member-form .control-groups .help i
{
	background-position: -156px -89px;
	display: inline-block;
	height: 10px;
	margin-left: -4px;
	margin-right: 5px;
	width: 6px;
}
.member-form .control-groups .btn
{
	background-color: #3A3A3A;
	background-position: 0 -534px;
	background-repeat: repeat-x;
	border: 1px solid #0c0c0c;
	border-radius: 3px;
	color: #fff;
	cursor: pointer;
	font-size: 11px;
	font-weight: 700;
	height: 34px;
	line-height: 34px;
	margin-right: 10px;
	moz-border-radius: 3px;
	padding: 0 15px;
	webkit-border-radius: 3px;
}
.member-form .btn:hover
{
	background: #3d3c3c;
	color: #999;
}
.member-form .messages
{
	border: 1px solid #23527C;
	color: #1777B3;
}
.member-form .messages ul
{
	margin: 5px 10px 10px;
}
.member-form .messages li
{
	line-height: 1.4em;
	list-style-position: inside;
}
ul.list-film
{
	clear: both;
	font-size: 11px;
	overflow: hidden;
	padding: 5px;
}
ul.list-film li
{
	float: left;
	list-style: none;
	width: 24%;
	width: 25%;
}
ul.list-film li .inner
{
	height: 255px;
	overflow: hidden;
	padding: 10px;
	position: relative;
}
.list-film li .speaker,.listfilm li .speaker
{
	background-position: -154px -68px;
	display: inline-block;
	height: 18px;
	opacity: .6;
	position: absolute;
	right: 12px;
	top: 13px;
	width: 20px;
}
.listfilm li .speaker
{
	right: 3px;
	top: 3px;
}
li .speaker:hover
{
	opacity: .8;
}
ul.list-film li .inner:hover
{
	background: #222;
}
ul.list-film li img
{
	background: #FFF url(../images/loading1.gif) no-repeat center center;
	display: block;
	height: 195px;
	line-height: 118px;
	text-align: center;
	width: 143px;
	width: 146px;
}
ul.list-film li a img
{
	color: #666;
}
ul.list-film li .name,ul.list-film li .name2
{
	color: #8b8b8b;
	line-height: 16px;
	text-align: center;
}
ul.list-film li .name,ul.list-film li .name a
{
	color: #0094fc;
	font-weight: 700;
}
ul.list-film li .name a:hover
{
	color: #2C88CA;
}
ul.list-film li .status
{
	background: #484848;
	border-radius: 3px;
	color: #FFF;
	font-family: Tahoma,Geneva,sans-serif;
	font-size: 11px;
	font-weight: 700;
	left: 0;
	moz-border-radius: 3px;
	padding: 3px 5px;
	position: absolute;
	top: 169px;
	webkit-border-radius: 3px;
}
ul.list-film li .stats
{
	color: #6e6e6e;
	height: 18px;
	line-height: 18px;
	text-align: center;
}
.list-film li .stats .liked
{
	background-position: -31px -416px;
	display: inline-block;
	height: 12px;
	line-height: 12px;
	padding-left: 19px;
}
.more
{
	font-weight: 700;
	margin-bottom: 18px;
	margin-right: 22px;
	text-align: right;
	display: table-cell;
	vertical-align: bottom;
}
.more a
{
	color: #CCC;
	font-family: Arial;
	text-transform: uppercase;
}
span.page_nav
{
	clear: both;
	display: block;
	font-size: 11px;
	overflow: hidden;
	padding: 10px;
	text-align: left;
	text-transform: uppercase;
}
.page_nav .desc
{
	margin-right: 5px;
}
.page_nav .item,.page_nav .current
{
	margin: 0 2px;
}
.page_nav .item a,.page_nav .current
{
	background: #1E1E1E;
	color: #fff;
	padding: 5px 8px;
}
.page_nav .item a
{
	color: #fff;
}
.page_nav .current,.page_nav .item a:hover
{
	background-color: #515151;
}
#page-post
{
}
#page-post .blockbody
{
	background: #272727;
	line-height: 1.5em;
	padding: 5px 10px;
}
#page-post .blockbody ul
{
	margin-left: 20px;
}
#page-post .blockbody p
{
	margin-bottom: 5px;
}
#page-post .recent-page
{
	line-height: 1.4em;
	margin-left: 15px;
	margin-top: 20px;
}
#page-post .recent-page .title
{
	font-size: 14px;
	font-weight: 700;
	margin-bottom: 6px;
}
.tagcloud
{
}
.tagcloud.blockbody
{
	background: #232323;
	padding: 5px;
}
.tagcloud li
{
	display: inline;
	display: inline-block;
}
.tagcloud li a
{
	color: #888;
	margin: 2px;
}
.tagcloud li a:hover
{
	color: #666;
	text-shadow: 0 1px 0 #000;
}
.tagcloud .level-1
{
	font-size: 9px;
}
.tagcloud .level-2
{
	font-size: 11px;
}
.tagcloud .level-3
{
	font-size: 13px;
}
.tagcloud .level-4
{
	font-size: 14px;
}
.tagcloud .level-5
{
	font-size: 15px;
}
.tagcloud .level-6
{
	font-size: 16px;
}
.tagcloud .level-7
{
	font-size: 17px;
}
.tagcloud .level-8
{
	font-size: 18px;
}
.tagcloud .level-9
{
	font-size: 19p;
}
.tagcloud .level-10
{
	font-size: 20px;
}
#ad_left,#ad_right
{
}
.block .subtitle
{
	background: #2E2E2E;
	color: #767676;
	display: block;
	font-weight: 700;
	height: 30px;
	line-height: 30px;
	padding: 0 8px;
	width: 284px;
}
.catitems
{
	background: #232323;
}
.catitems ul
{
	margin-left: 20px;
	overflow: hidden;
	padding-bottom: 8px;
}
.catitems li
{
	display: block;
	float: left;
	height: 22px;
	line-height: 22px;
	list-style: circle;
	width: 130px;
	width: 140px;
}
.catitems li a
{
	color: #d4d4d4;
	font-size: 11px;
	font-weight: 700;
	line-height: 1.5em;
}
.catitems li a:hover
{
	color: #888;
}
#trackIFrame
{
	display: none;
}
.name h2
{
	font-size: 1em;
}
.name span .hide
{
	position: absolute;
	top: -9999px;
}
#at4-follow
{
	margin-top: 20px!important;
}
#sidebar .seo-search,#sidebar .tagcloud,#sidebar .textwidget
{
	background: #232323;
	padding: 2px 3px;
}
#sidebar .seo-search a
{
	padding: 2px 3px;
}
#sidebar .seo-search a,#sidebar .tagcloud a
{
	color: #888;
}
span.backlink
{
	background: none repeat scroll 0 0 #E4E4E4;
	border-radius: 2px 2px 2px 2px;
	color: #5E5E5E;
	display: inline-block;
	font-size: 11px;
	font-weight: 700;
	line-height: 18px;
	margin: 0 5px 3px;
	padding: 2px 9px;
}
#easyTooltip
{
	background: #f9f9f9;
	border: 1px solid #e1e1e1;
	box-shadow: 1px 1px 5px 1px #555;
	font-size: 11px;
	margin: 0 10px 1em 0;
	padding: 1px;
	width: 280px;
	z-index: 3;
}
#easyTooltip .panel
{
	background: #dedede;
	line-height: 1.2em;
	padding: 5px 8px;
	text-transform: capitalize;
}
#easyTooltip .title
{
	color: #336CBB;
	font-weight: 700;
	margin-bottom: 2px;
}
#easyTooltip .title2
{
	color: #888;
	margin-bottom: 2px;
}
#easyTooltip dt
{
	color: #555;
	display: inline;
}
#easyTooltip dd
{
	color: #888;
	display: inline;
	margin-right: 5px;
	padding-right: 5px;
}
#easyTooltip .desc
{
	color: #333;
	padding: 6px;
	text-align: justify;
}